<h2>课程信息</h2>
<table class="table table-hover">
  <thead>
    <tr>
      <th>标题</th>
      <th>副标题</th>
      <th>简介</th>
      <th>首页展示缩略图</th>
      <th>详情介绍页面图</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= link_to @lesson.title, admin_lesson_path(@lesson) %></td>
      <td><%= @lesson.intro %></td>
      <td><%= @lesson.description %></td>
      <td><%= image_tag @lesson.main_image.thumb, class: "img-responsive" %></td>
      <td><%= image_tag @lesson.minor_image.thumb, class: "img-responsive" %></td>
      <td>
        <%= link_to "Delete", admin_lesson_path(@lesson), method: :delete, "data-confirm": "确定要删除吗？所有数据会不见哦！！请三思呐！", class: "btn btn-primary" %>
        <%= link_to "Update", edit_admin_lesson_path(@lesson), class: "btn btn-primary" %>
      </td>
    </tr>
  </tbody>
</table>
<hr>
<h2>课程章节管理</h2>
  <% @chapters.each do |chapter| %>
  <div class="row well">
    <div class="col-sm-4"><h4><%= chapter.title %></h4></div>
    <div class="col-sm-4">
      <%= form_tag admin_lesson_chapter_path(@lesson, chapter), method: :put do %>
        <input type="text" value="<%= chapter.weight %>" name="weight" />
        <%= submit_tag "更新", class: "btn btn-default btn-xs" %>
      <% end %>
    </div>
    <div class="col-sm-4"><%= link_to "编辑名称", edit_admin_lesson_chapter_path(@lesson, chapter), class: "btn btn-primary btn-xs" %></div>
  </div>

<table class="table table-bordered">
  <% chapter.posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td>
        <%= form_tag update_weight_admin_lesson_post_path(@lesson, post), method: :post do %>
          <input type="text" value="<%= post.weight %>" name="weight" />
          <%= submit_tag "更新", class: "btn btn-default btn-xs" %>
        <% end %>
      </td>
      <td>
        <%= link_to "预览", admin_lesson_post_path(@lesson, post), class: "btn btn-xs btn-success" %>
        <%= link_to "编辑", edit_admin_lesson_post_path(@lesson, post), class: "btn btn-xs btn-success" %>
        <%= link_to "删除", admin_lesson_post_path(@lesson, post), method: :delete, class: "btn btn-primary btn-xs", "data-confirm": "确定吗？？？" %>
      </td>
    </tr>
  <% end %>
</table>

  <% end %>
  <hr>
<h4>新增章节</h4>
<%= simple_form_for [:admin,@lesson,@chapter] do |f| %>
<%= f.input :title, label: "章节标题" %>
<%= f.input :weight, label: "排序值，从1开始排序，值越大，位置越后" %>
<%= f.submit "submit", class: "btn btn-primary" %>
<% end %>
<hr>
<h4>新增文章</h4>
<%= simple_form_for [:admin, @lesson, @post] do |f| %>
<select name="post[chapter_id]">
  <option>-选择章节-</option>
  <% @chapters.each do |chapter| %>
    <option value="<%= chapter.id %>"><%= chapter.title %></option>
  <% end %>
</select>
<%= f.input :title, label: "文章标题" %>
<%= f.input :weight, label: "排序值，从1开始排序，值越大，位置越后" %>
<%= f.input :description, label: "Tower同款编辑器，支持markdown" %>
<%= f.submit "submit", class: "btn btn-primary" %>
<% end %>


<!-- 以下是初始化simditor编辑器的代码 -->
<script type="text/javascript">
  var editor = new Simditor({ textarea: $('#post_description'), toolbar: ['title', 'bold', 'italic', 'underline', 'strikethrough', 'color', '|', 'ol', 'ul', '|', 'markdown', 'blockquote', 'code', 'table', 'link','image', '|','hr', 'indent', 'outdent', 'alignment', '|', 'marked', 'mark'],  placeholder: '请输入内容。。。', pasteImage: true, fileKey: 'file', upload: { url: '/photos', params: null, connectionCount: 3, leaveConfirm: 'Uploading is in progress, are you sure to leave this page?' } });
</script>
