<div class="container">
  <h1>编辑个人资料</h1>
  <p>会员到期时间：<%= current_user.is_vip && current_user.expriy_date > Time.now ? current_user.expriy_date : "普通会员" %></p>

  <%= simple_form_for :user, url: edit_detail_user_path(@user) do |f| %>
  <%= f.input :phone, label: "注册手机号码", disabled: true, hint: '您无法修改注册时的手机号码，但可修改联系用的手机号码~' %>
  <%= f.input :contact_phone, label: "联系手机号码", input_html: { value: @user.phone, placeholder: @user.phone } %>
  <%= f.input :user_name, label: "用户名" %>
  <%= f.input :wechat, label: "微信号" %>
  <%= f.input :email, label: "联系邮箱" %>
  <% if @user.user_image.present? %>
  <div class="user_image">
    <span class="current_user_image">当前已上传头像：</span>
    <%= image_tag @user.user_image.medium, class: "thumb img-responsive" %>
  </div>
  <% end %>
  <%= f.input :user_image, label: "用户头像", as: :file %>
  <%= f.submit "提交", class: "btn btn-success" %>
  <% end %>

</div>
